@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Poppins', sans-serif;
  color: #a97684;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: fit-content;
  width: fit-content;
  position: relative;
  overflow: auto;
}

section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff9fa;
}

section:nth-child(2n+1) {
  background-color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
  flex-wrap: wrap;
}

.column {
  flex: 1 1 35rem;
  
}

.icon {
  height: 40px;
  width: 40px;
}

.large-image {
  margin: 4rem;
  width: 23rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px #b48893;
}

.without-shadow {
  box-shadow: none;
}

/* TEXT WITHIN ROWS */
.content {
  flex: 1 1 30rem;
  padding: 2rem;
  text-align: left;
}

.on-left {
  flex: none;
  padding-left: 10%;
}

/* CONTACT FORM */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #fbacbc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #a97684;
}

.container {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff9fa;
  padding: 20px;
  margin-top: 50px;
  margin-right: 100px;
  width: 50%;
}

.title {
  font-size: 3.5rem;
}
.subtitle {
  color: #b48893;
  font-size: 2rem;
}

.text {
  font-size: 1.75rem;
}

.subtext {
  color: #b48893;
  font-size: 1.25rem;
}

/* FOOTER  */
.footer {
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff0f3;
  text-align: center;
}